.menuMovieOnline{
    color: #4F6B95;
}
.pOnline a{
    font-size: 15px;
}
.pOnline a img{
    max-width: 190px;
    min-width: 190px;
    max-height: 280px;
    min-height: 280px;
    border-radius: 5px;
}
.pOnline p{
    max-width: 190px;
}
.secondCarousel a:hover, .menuMovieOnline a:hover, .pOnline a:hover{
    text-decoration: none;
}
.alignCenterObjects{
    display: block;
    text-align: center;
    width: 300px;
}
.alignCenterObjects small{
    color: #4f6b95;
    background: #141a32;
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}
#alignCenterObjectsId small{
    padding: 12px 85px;
}
.sectionRight img{
    width: 80px;
    height: 120px;
    border-radius: 7px;
    object-fit: cover;
}
.sectionRight div{
    width: 300px;
    height: 120px;
    margin: 20px 0;
}
.sectionRight p{
    font-size: .9em;
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    .alignCenterObjects{
        width: auto;
    }
}
@media screen and (max-width: 700px) {
    .sectionRight div{
        position: relative;
        left: 20%;
    }
}