footer nav .imageSocial img{
    width: 20%;
    margin: 0 30px 0 0;
}

.footerSpace{
    margin-top: 150px;
}

.infoText a{
    //font-size: 100px;
}

.footerText{
    font-size: 74%;
    color: #4F6B95;
}